<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @{
        ViewData["Title"] = "Home Page";
    }
    <h1>Welcome to Quoting Dojo!</h1>
    <form action="/quote" method="post">
        <table>
            <tr>
                <td>Your Name: </td>
                <td><input type='text' name='name'></td>
            </tr>
            <tr>
                <td>Your Quote:</td>
                <td><textarea name='quote' cols="17" rows="10">Enter Quote here</textarea></td>
            </tr>
        </table>
        <input type="submit" value="Add my Quote!">
    </form>
    <form action="/quotes" method="get">
        <input type="submit" value="Skip to Quotes!">
    </form>
</body>
</html>